@import url("./rest.css");
@import url("./css/header.css");
@import url("./css/section1.css");
@import url("./css/section2.css");
@import url("./css/section3.css");
@import url('./css/ayday.css');
@import url("./css/section5.css");
@import url("./css/footer.css");
