#picks {
  padding: 40px 60px;
  background-color: black;
}

.picks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.picks-header h1 {
  font-size: 36px;
  font-weight: 700;
  color: white;
}
.explore {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1px;
  padding-bottom: 6px; /*линия*/
}

.explore::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #4facfe, #9b5cff);
  border-radius: 2px;
}

.picks-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  display: flex;
  gap: 15px;
}

.filter-btn,
.sort-btn {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
}

.filter-btn:hover,
.sort-btn:hover {
  border-color: #ffffff;
}

.marketplace {
  padding: 60px;
  background: radial-gradient(circle, #1b1e3c, #0b0d1a);
  text-align: center;
}

/* карты*/
.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 48px;
  margin-bottom: 40px;
}

.card2 {
  background: #2f303e;
  border-radius: 22px;
  padding: 20px;
  color: white;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.card2:hover {
  transform: scale(1.06);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.image-wrapper {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.likes {
  position: absolute;
  top: 12px;
  right: 12px;
  background: black;
  padding: 6px 10px;
  border-radius: 14px;
  font-size: 13px;
}

.card-content {
  padding: 16px 6px 6px;
}

h2 {
  font-size: 14px;
  margin-bottom: 18px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.owner {
  display: flex;
  gap: 10px;
  align-items: center;
}

.owner img {
  width: 36px;
  height: 36px;
  border-radius: 34%;
}

.owner span,
.bid span {
  font-size: 12px;
  color: #9fa2ff;
}

.owner p,
.bid p {
  font-size: 14px;
  font-weight: 600;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions button {
  background: transparent;
  border: 2px solid #6b5cff;
  color: white;
  padding: 8px 14px;
  border-radius: 17px;
  cursor: pointer;
  font-weight: 700;
}

.history {
  font-size: 13px;
  color: white;
}

.load-more {
  background: transparent;
  border: 2px solid #efeaea;
  color: #ccc;
  padding: 10px 26px;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  margin: 0 auto;

  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

.load-more:hover {
  transform: scale(1.08);
  border-color: #ffffff;
  color: #ffffff;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.15),
    0 0 20px rgba(255, 255, 255, 0.35);
}
