.hero3 {
  .owners {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .owner {
    img {
      border-radius: 10px;
      width: 100px;
      height: 100px;
    }
  }
  .seller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 20px 0;
  }
  h1 {
    color: aliceblue;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 30px;
  }
  span {
    color: gray;
    font-size: 15px;
  }
  img {
    width: 100px;
    background-color: black;
  }
  h6 {
    color: white;
    font-weight: 500;
  }
  ion-icon {
    margin-right: 10px;
    margin-top: 50px;
    font-size: 25px;
    border: solid 1px #828282;
    border-radius: 50px;
    padding: 10px;
    color: #828282;
  }
  .ico {
    margin-right: 10px;
  }
  ion-icon:hover {
    border: solid 1px white;
    color: white;
  }
}
