.explore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:50px 0 20px 0;
  h1 {
    color: white;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 30px;
  }
  h5 {
    color: white;
    font-size: 15px;
    border-bottom: 2px solid purple;
  }
}

.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 400px;
  background: rgb(91, 90, 90);
  padding-top: 20px;
  border-radius: 10px;
  img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
  }
  .hamlet {
    display: flex;
    gap: 20px;
    margin: 10px 0;
    h5 {
      color: white;
      font-weight: 600;
    }
    button {
      padding: 2px 10px;
      background: blue;
      color: white;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .owner {
    display: flex;
    gap: 10px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .creator {
    display: flex;
    align-items: center;
    gap: 20px;
    h5 {
      color: white;
      font-weight: 600;
      span {
        color: gray;
        font-weight: 100;
      }
    }
  }
}


