#colletion {
  margin-left: -30px;
  .colletion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 50px 0 20px 0;


    h1 {
      font-size: 32px;
      margin-left: 50px;
      color: aliceblue;
    }

    h5 {
      color: white;
      font-size: 15px;
      border-bottom: 2px solid purple;
    }
  }

  .collections {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 20px;

    .collection-card {
      background-color: #2a2a2a;
      border-radius: 15px;
      padding: 20px;
      /* width: 370px; */
      /* margin-left: 30px; */

      .card-coll {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        gap: 10px;

        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .info {
          flex: 1;

          h3 {
            font-size: 17px;
            font-weight: 700;
            margin-bottom: 3px;
            color: aliceblue;
            font-weight: 100px;
          }

          p {
            font-size: 15px;
            color: #eef7fe;
          }
        }

        .likes {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 15px;

          button {
            border: none;
            color: white;
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            color: aliceblue;
            background-color:black;
            padding: 3px 8px;
            border-radius: 8px;
            
          }
        }
      }

      .images {
        display: flex;
        gap: 20px;


        .image-large {
          /* width: 200px; */
          /* height: 300px; */
          border-radius: 10px;
          overflow: hidden;
          display: flex;

          img {
            width: 230px;
            height: 230px;
            object-fit: cover;
            display: block;
          }
        }

        .image-grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 8px;
          width: 106px;
          img {
            width: 70px;
            height: 70px;
            border-radius: 8px;
            object-fit: cover;
          }
          .image-or {
            grid-column: 1 / 3;
            width: 100%;
            height: 136px;

            img {
              width: 140px;
              height: 140px;
            }
          }
        }
      }
    }
  }
}
